.primaryIcon {
  color: #467495;
}

.bordered {
  border-bottom: 0.5px solid #CCCCCC;
}

.noPadding {
  padding: 0px!important;
}

.fullHeight {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.collaborationsContainer {
  flex: 1;
  overflow: hidden;
  margin: 0!important;
  width: 100%;
}
